link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")

//- ===================================
//- 		FANCYBOX
//- ===================================
link(href="../fancybox/source/jquery.fancybox.css?v2.1.5", rel="stylesheet", type="text/css")

//- Optionally add helpers - button, thumbnail and/or media
//- <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
link(href="../fancybox/source/helpers/jquery.fancybox-buttons.css?v=2.1.5", rel="stylesheet", type="text/css")
link(href="../fancybox/source/helpers/jquery.fancybox-thumbs.css", rel="stylesheet", type="text/css")
//- END FANCYBOX

//- your custom stylesheet should be the very last
link(href="./css/style.css", rel="stylesheet", type="text/css")
