// SCRIPTS
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.3.min.js')
//- script(type='text/javascript', src='./js/flat-ui.min.js')

//- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
//- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')

//- ===================================
//- 		FANCYBOX
//- ===================================
//- <script src="fancybox/jquery.fancybox.js?v=2.1.4"></script>
//- script(type='text/javascript', src='./fancybox/jquery.fancybox.js?v=2.1.4')
//- script(type='text/javascript', src='../fancybox/jquery.fancybox.js?v=2.1.4')
script(type='text/javascript', src='../fancybox/source/jquery.fancybox.js?v2.1.5')
//- script(type='text/javascript', src='../fancybox/source/jquery.fancybox.js')
//- <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
script(type='text/javascript', src='../fancybox/lib/jquery.mousewheel-3.0.6.pack.js')
//- <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
//- script(type='text/javascript', src='../fancybox/lib/jquery.mousewheel-3.0.6.pack.js?v=2.1.5')
//- Optionally add helpers - button, thumbnail and/or media
//- <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
//- <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
script(type='text/javascript', src='../fancybox/source/helpers/jquery.fancybox-buttons.js')
script(type='text/javascript', src='../fancybox/source/helpers/jquery.fancybox-media.js')
script(type='text/javascript', src='../fancybox/source/helpers/jquery.fancybox-thumbs.js')
//- END FANCYBOX

//- where your custom scripts file is always last
script(type='text/javascript', src='./js/scripts.js')
