//- ===================================
//- 		GLOBAL VARIABLES
//- ===================================

//- variables I want to be able to access in any part of the project code

- var fashionImageArrayLarge1 = ['./images/fashion/top1large.jpg','./images/fashion/top2large.jpg','./images/fashion/top3large.jpg','./images/fashion/top4large.jpg','./images/fashion/top4large.jpg','./images/fashion/top5large.jpg',];
- var fashionImageArraySmall1 = ['./images/fashion/top1small.jpg','./images/fashion/top2small.jpg','./images/fashion/top3small.jpg','./images/fashion/top4small.jpg','./images/fashion/top5small.jpg',];

//- END VARIABLES